alembic==1.13.1
psycopg2-binary==2.9.9
pydantic-settings==2.3.3
pytest==8.2.2
python-json-logger==2.0.7
pyyaml==6.0.1
requests==2.32.3
ruff==0.4.9
sqlalchemy-utils==0.41.2
tenacity==8.4.1
sqlmodel==0.0.19
toml==0.10.2
uv==0.2.13
wget==3.2
