alembic==1.13.2
psycopg2-binary==2.9.9
pydantic-settings==2.5.2
pytest==8.3.3
python-json-logger==2.0.7
pyyaml==6.0.2
requests==2.32.3
ruff==0.6.6
sqlalchemy-utils==0.41.2
tenacity==9.0.0
sqlmodel==0.0.22
toml==0.10.2
uv==0.4.12
wget==3.2
